<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150735145-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-150735145-2');
        </script>
        <title>CacluMon</title>

        <link rel="stylesheet" href="../../css/main.css">
    </head>

    <body>
        {{{body}}}
        <!-- <script src="spriteAnimation.js"></script> -->
        <script src="../../js/animations/coinAnimation.js"></script>
        <script src="../../js/animations/coinAnimation2.js"></script>


    </body>

</html><!-- main layout goes here -->
